body, html {
  height: 100%;
  box-sizing: border-box;
}


.App {
  height: 100%;
  width: 100%;
  background:
   repeating-radial-gradient(
     circle at 0 0,
     white,
    rgba(224, 247, 250, 0.4) 200px
   );
}

main {
  padding-bottom: 150px;
}

/*@media only screen and (min-height: 900px) {
  main {
    padding-bottom: 100%;
  }
}*/
