.compose {
  color: #4DD0E1;
  width: 100%;
  text-align: center;
}

.input-div-containers {
  width: 100%;
  /*border: 1px solid black;*/
  margin: 0 auto;
  /*position: relative;*/
}

.haiku_input_divs {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  display: inline-block;
  text-align: center;
  width: 75%;
  max-width: 800px;
  height: auto;
  /*margin: 40px 5% 25px 15%;*/
  margin: 40px auto 25px auto;
  font-size: 50px;
  padding: 5px 0;
  /*border: 1px dotted blue;*/
  border-bottom: 1px solid rgba(77, 208, 225, 0.6)
}

.haiku_input_divs:focus {
  outline: none;
}

.color_gradient_text {
  color: black;
  /*background: -webkit-linear-gradient(#eee, #333);*/
  background: linear-gradient(
    #00ACC1, #E0F7FA
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.syllablesDiv {
  text-align: center;
  display: inline-block;
  /*position: relative;*/
  position: absolute;

  /*float: right;*/
  /*right: 100px;*/
  /*top: 40px;*/
  margin: 30px 0 0 20px;
  height: 40px;
  width: 40px;
  /*left: 20px;
  bottom: 10px;*/
  /*right:*/
  /*margin: 0 0 0px 20px;*/
  padding: 9px 5px 5px 5px;
  background-color: rgba(77, 208, 225, 0.1);
  border: none;
  border-radius: 20%;


  transition: all 0.2s linear;


  font-size: 30px;
  color: rgba(227, 92, 92, 0.5);
}

.green {
  color: rgba(92, 227, 92, 0.5);
}

.logout-button {
  background-color: rgb(108, 144, 194);
}


.button-wrapper {
  text-align: center;
  width: 100%;
  height: 100px;
  margin: 30px 0 50px 0
  /*border: 1px solid black;*/
  /*margin: 0 42% 0 auto;*/
}

.sub-header {
  font-family: 'Roboto', sans-serif;
  font-style: none;
  position: relative;
  width: 320px;
  height: auto;
  margin: 0px auto 0 auto;
  /*border: 1px solid grey;*/

}

.crane-logo {
  display: inline-block;
  /*position: absolute;*/
  /*left: 10px;*/
  /*float: left;*/
  /*vertical-align: middle;*/
  /*position: relative;*/
  width: 80px;
  height: 80px;
  /*margin: 10px auto 0 auto;*/
  right: 10px;
  border: 1px solid #4DD0E1;
  opacity: .6;
}


.question-div {
  position: absolute;
  top: 90px;
  right: 20px;
}

.fa-question-circle {
  font-size: 30px;
}

.save-material-buttons  {
  display: inline-block;
  margin-right: 15px;
}

.twitter-material-button {
  margin-left: 15px;
}

.button-wrapper-1 {
  margin-top: 50px;
  text-align: center;
  /*border: 1px solid black;*/
  position: relative
}

.button-wrapper-2 {
  margin-top: 25px;
}

/*.button-wrapper-1 > p {
  position: absolute;
  display: inline-block;

}*/

.delete-button {
  margin-right: 15px;
}

.back-button {
  margin-left: 15px;
}
