.muidocs-icon-custom-github:before {
    content: "\e625";
}

.footerComponent {

  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 14px;
  height: 20px;
  background-image:
    linear-gradient(
      to right,
      #4DD0E1, #E0F7FA
    );


}

.github-button {
  color: #00ACC1;
}
