.muidocs-icon-custom-github:before {
    content: "\e625";
}

.footerComponent {
  color: white;
  padding: .8rem;
  text-align: center;
  font-size: 12px;
  background-image:
    linear-gradient(
      to right,
      #4DD0E1, #E0F7FA
    );
}

.github-button {
  color: #00ACC1;
}
