a {
  text-decoration: none;
}

.header {
  text-align: center;
  height: 80px;
  font-family: 'Maven Pro', sans-serif;
  text-decoration: none;
  background-image:
    linear-gradient(
      to right,
      #4DD0E1, #E0F7FA
    );
}

.header h1 {
  letter-spacing: 0.3em;
  font-size: 50px;
  margin-top: 0px;
  padding-top: 10px;
  /*display: inline-block;*/
}

.headerOptions {
  position: absolute;
  height: 30px;
  width: 150px;
  top: 23px;
  right: 60px;
}

.login-header {
  right: 100px;
}

.userHeader {
  display: inline-block;
}

.logo-header {
  position: absolute;
  left: 40px;
  height: 120px;
  top: -10px;
  /*border: 2px solid rgb(57, 57, 55);*/
  border-radius: 100%;
}

login-button {

}
