.landingDivs {
  position: relative;
  height: 250px;
  width: 700px;
  margin: 30px auto 30px auto;
}

.landing-text-1 {
  margin-top: 60px;
}

.landingDiv3 {
  margin-bottom: 50px;
}

.rock-garden {
  float: right;
}

.logos {
  height: 200px;
  border: 2px solid #4DD0E1;
  border-radius: 100%;
  margin-top: 25px;
}

.landingTextDivs {
  width: auto;
  margin-left: 130px;
  position: absolute;
  display: inline-block;
  height: 100%;
}

.landing-text-div2 {
  margin-left: 0px;
  width: 400px;
}

.landing-text {
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  letter-spacing: 0.1em;
  /*line-height: 70px;*/
  line-height: 1.5em;
  color: #4DD0E1;
}

.link-text {
  font-size: 20px;
}

.landing-break {
  width: 60%;
  margin: 0 auto 3px;
  border-bottom: 2px solid #B2EBF2;
}

@media only screen and (max-width: 750px) {
  .logos {
    width: 150px;
    height: 150px;
  }

  .landing-text {
    font-size: 30px;
  }

  .landing-text-1, .landing-text-2 {
    margin-top: 45px;
  }


  .landingDivs {
    width: 562.5px;
    height: 188.5px;
  }

  .landingTextDivs {
    margin-left: 37.5px;
  }

}

@media only screen and (max-width: 570px) {
  .logos {
    width: 100px;
    height: 100px;
  }

  .landing-text {
    font-size: 20px;
    line-height: 2em;
  }

  .landing-text-1, .landing-text-2 {
    margin-top: 30px;
  }

  .landing-text-3 {
    margin-top: 25px;
  }

  .landingDivs {
    margin: 20px auto 50px auto;
    width: 376px;
    height: 125px;
  }

  .landing-text-div2{
    width: 235px;
  }

}

@media only screen and (max-width: 400px) {
  .logos {
    width: 75px;
    height: 75px;
    margin-left: 20px;
  }

  .rock-garden {
    margin-left: 0;
    margin-right: 20px;
  }

  .landing-text {
    font-size: 15px;
    line-height: 3em;
  }

  .landing-text-1 {
    margin-top: 15px;
    line-height: 2em;
  }

  .landing-text-2 {
    line-height: 2em;
  }

  .landing-text-3 {
    margin-top: 15px;
  }


  .landingDivs {
    margin: 20px auto 50px auto;
    width: 100%;
    height: 100px;
  }

  .landing-text-div-1 {
    padding-top: 25px;
  }


  .landing-text-div2{
    width: 180px;
  }

  .login-button {
    margin-right: 0px;
  }


}

@media only screen and (max-width: 350px) {
  .landing-text-div-1 {
    /*padding-top: 0px;*/
  }

}
